sftp-config.json

for ( i = 0; i < 5; i++) { console.log(i) }

for ( i = 0; i < 5; i++) { 
	console.log(i)
}


var blah = 'ok'
for ( i = 0; i < 5; i++) { 
	if ( i == 1 && blah = 'ok' ) {
		console.log('yes')
	}
}